:root {
  --bg-color: #000;
  --main-brand-color: #e50914;
  --main-brand-color-light: #e44c54;
  --secondary-brand-color: #0e1b4f;
  --main-text-color: #FFF;
  --border-color: #4b5563;
  --main-font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.main-bg {
  background-color: rgb(0, 0, 0);
  background-color: #3c5aa0;
  background-color: #000;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  opacity: 1;
  font-family: var(--main-font-family);
}

* {
  box-sizing: border-box;
}
