/* roboto-300 - latin 
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v32-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ 
}
/* roboto-regular - latin 
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ 
}
*/

:root {
  --bg-color: #000;
  --main-brand-color: #e50914;
  --main-brand-color-light: #e44c54;
  --secondary-brand-color: #0e1b4f;
  --main-text-color: #FFF;
  --border-color: #4b5563;
  --input-bg-color: #333;
  --main-font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.main-bg {
  background-color: rgb(0, 0, 0);
  background-color: #3c5aa0;
  background-color: #000;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  opacity: 1;
  font-family: var(--main-font-family);
}

* {
  box-sizing: border-box;
}

@media print {
  /*
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
  .banner {
    display: none;
  }
  */
  header.header, .footer, .banner {
    display: none;
  }
}

/*
@media screen and (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF;
    --main-text-color: #000;
  }
}
*/
