/* Button */
.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  text-decoration: none;
  padding: 0.7rem;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid var(--main-brand-color);
  /*
  transition: background-color 0.3s;
  transition-timing-function: ease-in-out;
  */
  width: 100px;
  transition: background-color 0.3s linear, width 3s linear;
  &.secondary {
    background-color: transparent;
    border: 1px solid var(--main-text-color);
  }
}

.wide {
  width: 200px;
}
/*
.btn.secondary {
}
*/
@media screen and (hover: hover) {
  .pointer {
    cursor: pointer;
  }
  .btn {
    cursor: pointer;
    &:hover {
      background-color: var(--main-brand-color-light);
      width: 180px;
    }
    &.secondary:hover {
      background-color: var(--border-color);
    }
  }
  /*
  .btn:hover {
  }
  */
}

/* form classes */
.form__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  label {
    margin-bottom: 0.5rem;
  }
  .input {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background: var(--input-bg-color);
    color: var(--main-text-color);
  }
  input[type="file"] {
    display: none;
  }
}
/*
id -> #id
class -> .class
tag -> p, button, h1
all -> *
attribute -> 
*/
/*
.form__element .input {

}
*/
