.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .image {
    width: 20%;
    min-width: 200px;
    max-width: 250px;
  }
  .nav {
    .list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 10px;
    }
  }
}

.hidden {
  display: none;
}

/* @media screen and (min-width: 768px) { */
@media screen and (width > 768px) {
  .hidden {
    display: block;
  }
}
