.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--bg-color);
  .image {
    width: 20%;
    min-width: 200px;
    max-width: 250px;
  }
  .nav {
    .list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

.hidden {
  display: none;
  /*
  opacity: 0;
  visibility: hidden;
  */
}

