.container {
  background-image: url('../assets/app/catalog.jpg');
}

.card {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 3rem 2rem;
}
